* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  line-height: 1.5;
}

.product {
  border: 4px solid black;
  width: 825px;
  margin: 50px auto;
  position: relative;
}

.product::before {
  content: "sale";
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  padding: 7px 15px;
  background-color: #ec2f2f;
  color: #fff;
  letter-spacing: 5px;
  display: inline-block;
  position: absolute;
  top: -20px;
  left: -40px;
}

.main-header {
  text-align: center;
  background-color: #f7f7f7;
  font-size: 22px;
  text-transform: uppercase;
  padding: 15px;
  margin: 0;
}

.price {
  font-size: 24px;
}

.shipping {
  text-transform: uppercase;
  color: #777;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.ready {
  margin-bottom: 15px;
}

.more-info:link,
.more-info:visited {
  color: black;
  margin-bottom: 30px;
  display: inline-block;
}

.more-info:hover,
.more-info:active {
  text-decoration: none;
}

/* .colors {
} */

.color {
  display: inline-block;
  margin-right: 10px;
  width: 22px;
  height: 22px;
}

.black {
  background-color: #111211;
}

.blue {
  background-color: #1098ad;
}

.red {
  background-color: #b80606;
}

.yellow {
  background-color: #b8bd2b;
}

.green {
  background-color: #608212;
}

.choco {
  background-color: #572a03;
}
.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 15px;
  margin-top: 30px;
}

.details-list {
  list-style-type: square;
  margin-left: 20px;
  margin-bottom: 15px;
}
.details-list li {
  margin-bottom: 10px;
}

.add-cart {
  font-size: 18px;
  text-transform: uppercase;
  background-color: black;
  color: white;
  border: none;
  cursor: pointer;
  border-top: 4px solid black;
  width: 100%;
  padding: 15px;
}

.add-cart:hover {
  background-color: white;
  color: black;
}
